*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height: 100%;width: 100%;font-size: 100%;line-height: 1;font-size: 14px;-ms-text-size-adjust: 100%;-moz-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul,ol,li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

/*! ______ОБНУЛЕНИЕ______ */

$maxWidth: 1920;
$maxWidthContainer: 1099;

@mixin adaptiv-value($property, $startSize, $minSize, $type) {
$addSize: $startSize - $minSize;
@if $type==1 {
// МЕНЬШЕ КОНТЕЙНЕРА
#{$property}:$startSize + px;
@media (max-width: #{$maxWidthContainer + px}) {
#{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidthContainer - 320}));
}
}
@else if $type==2 {
// БОЛЬШЕ КОНТЕЙНЕРА
#{$property}:$startSize + px;
@media (min-width: #{$maxWidthContainer + px}) {
#{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}));
}
}
@else {
//ВСЕГДА
#{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}));
}
}

$colorq:#ffc600;

%line{
   position: relative;
      &:after{
         content: '';
         position: absolute;
         width: 50%;
         height: 1px;
         bottom: 0px;
         right: 0;
         background-color: #c5c5c5;
      }
}
%firstletter{
   &::first-letter{
      font-size: 160%;
      color: $colorq;
      
   }
}
body{
   background-color: #010d15;
   
}
// html{
//    &::-webkit-scrollbar-button{
//       display: none;
//    }
// }

.container {
   max-width: 1198px;
   margin: 0px auto;
   background-color: #ffffff;
   overflow: hidden;
}
._animate .container{
      transform: scale(0.9);
      transition: 0.4s;
      position: relative;
      // top: -40px;
}
._animate .container::before{
   position: absolute;
   content: '';
   max-width: 100%;
   height: 100%;
   z-index: 10;
   background-color: rgba(0, 0, 0, 0.9);
   transition: 0.7s ;
   pointer-events: none;
}
._go .container{
   transform: scale(1);
   top: 0;
   

}
._go .container::before{
   background-color: rgba(0, 0, 0, 0);


}

//! ///---ELEMENTS---\\\ !\\

/*! ///---ELEMENTS---\\\ !*/

.header {
   min-width: 100%;
   min-height: 100%;
   background: url(../img/Layer_6.png) top no-repeat;
   background-size: 100%;
   position: absolute;
   top: 0;
   left: 0;
   z-index: 1;

   .container{
      background:transparent;
   }
   &__inner {
      // padding:114px 0px 0px 0px;
      @include adaptiv-value("padding-top", 114, 25, 1)
   }

   &__title {
      color: #ffffff;
      margin: 0px 0px 0px 5px;
      font-family: myriad-pro, sans-serif;
      @include adaptiv-value("font-size", 202, 80,1) ;
      // font-size: 202px;
      font-weight: 700;
      font-style: normal;
      @include adaptiv-value("letter-spacing", -10,-7 ,1 );
      // letter-spacing: -10px;
      line-height: normal;
      &::first-letter{
         color:$colorq;
         font-style: normal;
         letter-spacing: -3px;
         line-height: normal;
      }
   }

   &__text {
      margin: 0px 0px 30px 7px;
      // max-width: 420px;
      @include adaptiv-value("max-width",420 ,260 ,1 );
      color: #ffffff;
      font-family: myriad-pro-condensed, sans-serif;
      // @include adaptiv-value("font-size",18 ,14 ,1 );
      font-size: 18px;
      font-weight: 400;
      font-style: normal;
      letter-spacing: normal;
      line-height: normal;
      text-align: left;
      transition: 1s;
      &::first-letter{
         color:$colorq;
         font-style: normal;
         letter-spacing: normal;
         line-height: normal;
      }
   }

   &__subtitle {
      margin: 0px 0px 0px 8px;
      color: $colorq;
      font-family:myriad-pro-condensed, sans-serif;
      font-size: 22px;
      font-weight: 400;
      font-style: normal;
      letter-spacing: normal;
      line-height: normal;
      text-align: left;
   }
}

//! ///---HEADER---\\\ !\\

/*! ///---HEADER---\\\ !*/

.logo {
   // margin: 500px 0px 0px 0px;
   @include adaptiv-value("margin-top",500 ,250 ,1 );
   position: relative;
   z-index: 2;

   &__inner {
      background:top / cover no-repeat url(../img/Layer_5.jpg) ;
      @include adaptiv-value("min-height",654 ,500 ,1 );
      
   }
   &__body{
      // max-width: 550px;
      // padding:70px 0px  0px 46px;
      display: block;
      max-width: 100%;
      
      @include adaptiv-value("padding-top",70,12 ,1 );
      // @include adaptiv-value("padding-left",46,8 ,1 );
      @include adaptiv-value("margin-left",46,8 ,1 );


   }
   &__title {
      @include adaptiv-value("max-width",550,200 ,1 );

      @include adaptiv-value("margin-bottom",60 ,15 ,1 );
      // margin: 0px 0px 60px 0px;
      color: #ffffff;
      font-family: myriad-pro-condensed, sans-serif;
      @include adaptiv-value("font-size",55 ,35 ,1 );
      // font-size: 55px;
      font-weight: 700;
      font-style: normal;
      letter-spacing: normal;
      // line-height: 48px;
      text-align: left;
      text-shadow: 0 0 10px #000,0 0 10px #000,0 0 10px #000;
      transition: .4s;

      span{
         color: $colorq;
         font-style: normal;
         // letter-spacing: -3px;
         line-height: normal;
      }
   }

   &__nav {
      max-width: 360px;
      display: flex;
      justify-content: space-between;
   }
   &__menu{
      display: inline-block;
      position: absolute;
      @include adaptiv-value("top",75,17 ,1 );
      
      right: 30px;
   }
   &__burger{
      display: none;
      height: 30px;
      width: 35px;
      align-items: center;
      position: relative;
      span,&::after,&::before{
         width: 100%;
         height: 3px;
         background-color: $colorq;
         border-radius: 2px;
         box-shadow: 0 0 3px #000,0 0 3px #000;
         transition: .5s;

      }
      span{
         display: block;
         

      }
      &::after{
         content: "";
         position: absolute;
         bottom: 0px;
         left: 0;
      }
      &::before{
         content: "";
         position: absolute;
         top: 0px;
         left: 0;
      }
   }
   // &__center{
   //    min-width: 100%;
   //    min-height: 100%;
   //    display: flex;
   //    align-items: center;
      
   // }

   &__link {
      font-family: myriad-pro-condensed, sans-serif;
      color: #ffc600;
      font-size: 18px;
      font-weight: 400;
      font-style: normal;
      letter-spacing: normal;
      line-height: normal;
      text-align: left;
      cursor: pointer;
      transition: .3s;
      &:hover{
         color: #fff;
         padding:0px 0px 2px 0px;
         border-bottom: 1px solid $colorq;
      }
   }
}

//! ///---LOGO---\\\ !\\

/*! ///---LOGO---\\\ !*/

.about {

   &__inner{
      min-width: 100%;
      height: auto;
      background-color: #fff;
      padding: 0px 10px;

      
   }


   &__top {
      padding:36px 0px 0px 0px;
      display: flex;
      flex-wrap: wrap;
   }

   &__logo {
      flex: 1 1 50%;
      display: flex;
      flex-direction: column;
      position: relative;
      &:after{
         content: '';
         width: 1px;
         height: 80%;
         background-color: #cacaca;
         top: 50%;
         right:20px;
         position: absolute;
         transform: translateY(-50%);

      }
   }

   &__first {
      min-height: 50%;
      display: flex;
      flex-direction: column;
      justify-content:end;
      @include adaptiv-value("margin-left",135 ,-10 ,1 );
      
      text-align: left;
      
      span{
         color: #717171;
         font-family:myriad-pro-condensed, sans-serif;
         @include adaptiv-value("font-size",30 ,16 ,1 );
         // font-size: 30px;
         font-weight: 600;
         font-style: normal;
         letter-spacing: normal;
         position: relative;
         // bottom: -10px;
         @include adaptiv-value("bottom",-10 ,0 ,1 );
         // left: 8px;
         @include adaptiv-value("left",8 ,4 ,1 );
         &::first-letter{
            font-size: 160%;
            font-style: normal;
            letter-spacing: normal;
            line-height: normal;
         }
      }
      
      
   }

   &__second {
      min-height: 50%;
      @include adaptiv-value("margin-left",133 ,-10 ,1 );
      &::first-letter{
         color: $colorq;
         font-style: normal;
         letter-spacing: normal;
         line-height: normal;
      }
      span{
         color: #000000;
         font-family:myriad-pro-condensed, sans-serif;
         // font-size: 80px;
         @include adaptiv-value("font-size",80 ,40 ,1 );
         font-weight: 600;
         font-style: normal;
         letter-spacing: normal;
         line-height:normal;
         text-align: left;
         position: relative;
         top: -10px;
         @extend %line;
         &:after{
            // bottom: 10px;
            @include adaptiv-value("bottom",10 ,-2 ,1 );
         }
      }
   }
   &__text {
      flex: 0 0 50%;
   }
   &__main {
      margin: 0px 0px 20px 0px;
      font-family: myriad-pro-condensed, sans-serif;
      font-size: 16px;
      font-weight: 600;
      font-style: oblique;
      letter-spacing: normal;
      line-height: normal;
      text-align: left;
   }

   &__description {
      font-family: myriad-pro-condensed, sans-serif;
      font-weight: 400;
      font-style: normal;
      letter-spacing: normal;
      line-height: normal;
      color: #595959;

   }

   &__middle {
      font-family: myriad-pro-condensed, sans-serif;

      margin: 0px 0px 40px 0px;

   }

   &__body {
      max-width: 872px;

      display: flex;
      gap: 20px;
      flex-wrap: wrap;
      margin: 0 auto;
      justify-content: space-between;
   }

   &__block {
      flex: 0 0 231px;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      @include adaptiv-value("margin-top",72 ,10 ,1 );
      // margin: 72px 0px 0px 0px;
   }

   &__icon {
      margin: 0px 0px 24px 0px;
      position: relative;
      top: 0;
      display: inline-block;
      .console{
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate3d(-50%,-50%,0);
      
      }
   }

   &__title {
      margin: 0px 0px 19px 0px;
      color: #000000;
      font-size: 18px;
      font-weight: 600;
      font-style: normal;
      letter-spacing: normal;
      line-height: normal;
   }

   &__texts{
      font-size: 10px;
      font-weight: 400;
      font-style: oblique;
      letter-spacing: normal;
      line-height: normal;
      text-align: center;

   }
   &__bottom {
      max-width: 1056px;
      margin: 0px auto;
      font-family: myriad-pro-condensed, sans-serif;

      padding:40px 0px 23px 0px;
   }

   &__foot {
      width: 100%;
   }




   
   &__subtitle {
      display: inline-block;
      margin: 0px 0px 23px 0px;
      font-size: 30px;
      font-weight: 700;
      font-style: normal;
      letter-spacing: normal;
      line-height: normal;
      text-align: left;
      @extend %line;
      // position: relative;
      // &:after{
      //    content: '';
      //    position: absolute;
      //    width: 50%;
      //    height: 1px;
      //    bottom: 0px;
      //    right: 0;
      //    background-color: #c5c5c5;
      // }
      @extend %firstletter;
      span{
         font-size: 50px;
      }
   }

   &__nav {
      max-width: 300px;
      display: flex;
      justify-content: space-between;
   }

   &__link {
      font-size: 9px;
      text-transform: uppercase;
      font-weight: 600;
      color: #101010;
      position: relative;
      cursor: pointer;
      &:hover::after{
         background-color: $colorq;
      }
      &::after{
         content: "";
         width: 50%;
         height: 1px;
         background-color:transparent;
         position: absolute;
         left: 50%;
         transform: translateX(-50%);
         bottom: -3px;
         transition: .2s;
         
      }
   }
   
}


//! ///---ABOUT---\\\ !\\

/*! ///---ABOUT---\\\ !*/

.galery {
   min-width: 100%;
   .line{
      &::after{
         content: "";
         width: 50%;
         height: 2px;
         background-color:$colorq;
         position: absolute;
         left: 50%;
         transform: translateX(-50%);
         bottom: -5px;
         transition: .2s;
         
      }
   }
   &__intro {
      display: flex;
      flex-wrap: wrap;
      width: calc(100% + 2px);
      position: relative;
      left: -1px;
      // gap: 3px ;
   }
   .none{
      display: none;
   }

   &__photo {
      flex: 0 0 25%;
      border: 0.5px solid #fff;
      overflow: hidden;
      &:nth-child(n+5) {
         border-bottom: none;
      }
      img{
         object-fit: cover;
         width: 100%;
         height: 100%;
         transition: 1s;
         opacity: 0;
         
         
      }
      &:nth-child(4n+1) img,&:nth-child(4n+2) img{
         transform: translateX(-120%);
         }
      &:nth-child(4n+3) img,&:nth-child(4n+4) img{
         transform: translateX(120%);
         }
   }
   ._go img{
      transform: translateX(0);
      opacity: 1;
   }
}

//! ///---GALERY---\\\ !\\

/*! ///---GALERY---\\\ !*/

.process {
   min-width: 100%;
   font-family: myriad-pro-condensed, sans-serif;


   &__body {
      background-color: #fff;
      max-width: 1099px;
      margin: 0px auto;
      padding:70px 10px 0px 10px;
   }

   &__title {
      font-size: 30px;
      display: inline-block;
      font-weight: 600;
      margin: 0px 0px 26px 0px;
      @extend %line,%firstletter;
      &:after{
         bottom: 5px;
      }
      span{
         font-size: 50px;
      }
      


   }

   &__subtitle {
      margin: 0px 0px 20px 0px;
      font-style: oblique;
      font-size: 16px;
      font-weight: 600;

   }

   &__text {
      color: #595959;
      font-size: 14px;
      font-weight: 400;
   }
	&__main {
      margin: 43px 0px 64px 0px;
      
	}
	&__container {
      max-width: 880px;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      padding:0px 10px;
	}

	&__element {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      transition: 1s;
      opacity: 0;
      // transform: translateX(-120%);
      &:nth-child(2n+1){
      transform: translate3d(-50%,0,0);


      }
      &:nth-child(2n+2){
         transform: translate3d(50%,0,0);
   
         }
      img{
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
	}

   &__element--text {
      padding:34px;
      &:nth-child(2){
         padding-top: 0;
         padding-right: 0;
      }
      &:nth-child(3){
         padding-left: 0;
      }
      &:nth-child(6){
         padding-right: 0;
         padding-bottom: 0;
      }
      
	}
   ._go{
      opacity: 1;
      transform: translate3d(0,0,0) scale(1);
      
   }

	&__name {
      max-width: 100%;
      color: #1d1d1d;
      font-size: 30px;
      font-weight: 600;
      span{
         font-size: 50px;
      }
	}

	&__middle {
      max-width: 100%;
      font-size: 16px;
      font-style: oblique;
      font-weight: 600;

	}

	&__foot {
      max-width: 100%;
      color: #595959;
      font-size: 14px;
      font-weight: 400;

	}
}

//! ///---PROCESS---\\\ !\\

/*! ///---PROCESS---\\\ !*/

.services {
   font-family: myriad-pro, sans-serif;
   color: #fff;
   .container{
      background: url(../img/services/Layer_26.png) no-repeat center / cover,url(../img/services/Layer_25.jpg) no-repeat center / cover;
   }

   &__inner {
      max-width: 1099px;
      padding:0px 10px;
      margin: 0 auto;
      
   }

   &__top {
      font-size: 30px;
      font-weight: 600;
      padding:41px 0px 0px 0px;
      h1{
         display: inline-block;
         @extend %line,%firstletter;
         &::after{
            bottom: 3px;
         }
         span{
            font-size: 50px;
         }
      }
   }

   &__body {
      padding:0px 0px 38px 0px;

   }
   &__container{
      display: flex;
      max-width: 541px;
      flex-wrap: wrap;
      margin: 0px 184px 0px auto;
      
   }

   &__block {
      opacity: 0.7;
      flex: 0 0 50%;
      margin: 55px 0px 20px 0px;
      padding:0px 0px 0px 45px;
      &:nth-child(2n+1){
         padding:0px 45px 0px 0px;
      }
   }

   &__title {
      font-size: 18px;
      font-weight: 600;
      margin: 0px 0px 25px 0px;
   }

   &__text {
      font-size: 11px;
      font-weight: 500;
      line-height: normal;
   }
}

//! ///---SERVICES---\\\ !\\

/*! ///---SERVICES---\\\ !*/

.team {
   min-width: 100%;
   font-family: myriad-pro, sans-serif;

   &__inner {
      max-width: 1099px;
      margin: 0px auto 149px auto;
      display: flex;
      justify-content:space-between;
      padding:0px 10px;
   }

   &__logo {
      padding:0px 30px 0px 0px;
      margin: 85px 0px 0px 0px;
      font-size: 30px;
      white-space: nowrap;
      span{
         font-size: 50px;
      }
      h1{
         @extend %line,%firstletter;
         font-weight: 600;
         
      }


   }
   

   &__body {
      max-width: 782px;
      margin: 85px 0px 0px 0px;
      
   }

   &__top {
      padding:0px 158px 35px 0px;
   }

   &__title {
      margin: 0px 0px 20px 0px;
      font-size: 16px;
      font-style: oblique;
      font-weight: 600;
   }

   &__text {
      color:#1d1d1d;
      font-size: 14px;
      font-weight: 500;
   }

   &__main {
      display: flex;
      flex-wrap: wrap;
      overflow: hidden;
      width:calc(100% + 20px);
      margin: 0px 0px 0px -10px;
   }

   &__block {
      // flex: 0 0 25%;
      width: 25%;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
   }

   &__photo {
      width: 100%;
      img{
         width: 100%;
         object-fit: cover;
         object-position: center;
      }
   }

   &__name {
      text-align: center;
      font-size: 16px;
      font-weight: 600;
      margin: 16px 0px 0px 0px;
      line-height: normal;
   }

   &__profession {
      text-align: center;
      font-style: oblique;
      font-size: 16px;
      font-weight: 400;
      line-height: normal;
   }
}

//! ///---TEAM---\\\ !\\

/*! ///---TEAM---\\\ !*/

.testimonials {
   min-width: 100%;
   color: #ffffff;
   font-family: myriad-pro, sans-serif;
   .container{
      background-color: #000;
   }

   &__inner {
      max-width: 1099px;
      padding:0px 10px;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
   }

   &__logo {
      margin: 55px 0px 0px 0px;
      @extend %firstletter;
      
      span{
         font-size: 30px;
         font-weight: 600;
         @extend %line;

      }
   }
   

   &__body {
      margin: 0px 0px 136px 42px;
      display: flex;
      align-items: center;
   }

   &__left {
      max-width: 700px;
      align-self: flex-end;

   }
   &__title{
      font-size: 16px;
      font-weight: 600;
      font-style: oblique;
      padding:0px 0px 20px 0px;
   }

   &__text {
      padding:0px 0px 20px 0px;
      font-size: 14px;
      font-weight: 400;


   }

   &__right {
      display: inline-block;
      padding:0px 84px;
      text-align: center;
      
   }

   &__photo {
      border-radius: 50%;
         border: 4px solid #e49600;
         margin: 0px 0px 26px 0px;
      img{
         width: 100%;
      }
   }

   &__name {
      line-height: normal;

   }

   &__professional {
      line-height: normal;
      
   }
}

//! ///---TESTIMONILS---\\\ !\\

/*! ///---TESTIMONILS---\\\ !*/

.blogs {
   min-width: 100%;
   font-family: myriad-pro, sans-serif;


   &__inner {
      max-width: 1099px;
      margin: 0px auto;
      padding:30px 10px 115px 10px;
      display: flex;
      justify-content: space-between;
   }

   &__nav {
      flex: 0 1 235px;
      margin: 30px 20px 0px 0px;
      display: flex;
      flex-direction: column;

   }

   &__logo {
      margin: 0px 0px 55px 0px;
      @extend %firstletter;
      span{
         font-size: 30px;
         font-weight: 600;
         @extend %line;
         
         &:after{
            bottom: -4px;
            width: 90%;
            right: 50%;
            transform: translateX(50%);
         }
      }
   }

   &__links {
      // display: inline-block;
      display: flex;
      flex-direction: column;
      margin: 0px 0px 0px auto;
      
      
   }

   &__link {
      // align-self: flex-start;
      // display: block;
      color: #151515;
      font-size: 18px;
      font-weight: 600;
      margin: 0px 0px 30px 0px;
      transition: .3s;
      white-space: nowrap;
      cursor: pointer;
      &:last-child{
         margin: 0px 0px;
      }
      &:hover{
         color: $colorq;
      }

   }
   &__burger{
      display: none;
   }
   &__body {
      max-width: 758px;
      display: flex;
      position: relative;
      left: -10px;
      width: calc(100% + 20px);

   }

   &__block {
      width: 33.333%;
      padding:0px 10px 10px 10px;
   }
   .none{
      display:none;
   }

   &__photo {
      aspect-ratio: 180/ 206;

      img{
         width: 100%;
         height: 100%;
         object-fit: cover;
         object-position: center;
      }
   }

   &__name {
      font-size: 18px;
      color: $colorq;
      font-weight: 600;
      margin: 10px 0px 25px 0px;
   }

   &__title {
      font-size: 15px;
      color: #000;
      font-weight: 600;
      margin: 0px 0px 15px 0px;
   }

   &__subtitle {
      color: #525252;
      font-size: 12px;
      font-style: oblique;
      font-weight: 500 ;
   }
}

//! ///---BLOGS---\\\ !\\

/*! ///---BLOGS---\\\ !*/
.test__inner{
   background: url(../img/1617038939_17-p-oboi-fon-dlya-rabochego-stola-18.jpg) ;
   padding: 50px 0px;
   background-repeat: no-repeat;
   background-position:top;
   // position: fixed;
}
.swiper {
   display: flex;
   max-width: 1200px;
   padding: 0px 40px;
   margin:0px auto;
   position: relative;
   &__container {
      max-width: 900px;
      overflow: hidden;
      margin: auto;
      border-radius: 15px;
      padding: 30px 0px;
   }

   &__line {
      display: flex;
      max-width: 900px;
      transition: .5s;
      padding: 50px 0px;
      
   }

   &__item {
      height: 300px;
      flex-grow: 0;
      flex-shrink: 0;
      position: relative;
      transition: .4s;
      // transform: scale(0.7);
      padding: 2px;

      img{
         width: 100%;
         height: 100%;
         object-fit: cover;

      }

   }
   // ._back--left{
   //    transition: .4s;
   //    transform: perspective(300) rotatey(35deg) scale(0.9);
   //    overflow: hidden;
   //    position: relative;
   //    opacity: 0.6;
   // }
   // ._back--right{
   //    transition: .4s;
   //    overflow: hidden;
   //    position: relative;
   //    transform: perspective(300) rotatey(-35deg) scale(0.9);
   //    opacity: 0.6;
   // }
   &__left,&__right{
      display: inline-block;
      position: absolute;
      font-size: 50px;
      color: rgb(86, 86, 86);

      top: 50%;
      transform: translateY(-50%);
      transition: .1s;
      padding: 10px;
      cursor:default;
      background-color: rgba(255, 255, 255, 0.433);
      &:hover{
      color: rgb(255, 255, 255);

         background-color: rgba(255, 255, 255, 0.13);
      }
   }
   &__left{
      left: 13px;
      display: none;
   }
   &__right{
      right: 13px;
      display: none;

   }
   ._active{
      display: block;
   }
}


//! ///---SWIPER---\\\ !\\

/*! ///---SWIPER---\\\ !*/
.contact {
   min-width: 100%;
   font-family: myriad-pro, sans-serif;
   .container{
      padding:0px 0px 73px 0px;
   }


   &__inner {
      min-width: 100%;
      display: flex;
      justify-content: space-between;
      background-color:#2046b3 ;
      
   }

   &__map {
      max-width: 500px;
      overflow: hidden;
      img{
         height: 100%;
         // object-position: center;
         object-fit: cover;
         width: 100%;
      }
   }

   &__body {
      max-width: 635px;
      flex: 1;
      padding:52px 10px 44px 10px;
   }

   &__form {
      max-width: 414px;
      min-width: 360px;
      position: relative;
      

   }

   &__title {
      font-size: 30px;
      font-weight: 600;
      margin: 0px 0px 30px 23px;
      color: #ffffff;
      p{
         display: inline-block;
         @extend %line,%firstletter;
         span{
            font-size: 50px;
         }
         &:after{
            width: 100%;
            
         }
      }
   }

   &__tap {

      .name {
         // display: block;
         font-size: 16px;
         font-weight: 500;
         width:100% ;
         border: 2px solid #c5c5c5;
         margin: 0px 0px 15px 0px;
         padding:6px 10px;
         background-color:#2046b3  ;
         color:#ffffff ;

         &::placeholder{
         color:#ffffff ;
         }

      }
      .river {
         display: flex;
         justify-content: space-between;
         margin: 0px 0px 15px 0px;

      }
      .tel {
         width: 40%;
         font-size: 16px;
         font-weight: 500;
         border: 2px solid #c5c5c5;
         padding:6px 10px;
         background-color:#2046b3  ;
         color:#ffffff ;

         &::placeholder{
         color:#ffffff ;
         }
      }
      .email {
         width: 50%;
         font-size: 16px;
         font-weight: 500;
         border: 2px solid #c5c5c5;
         padding:6px 10px;
         background-color:#2046b3  ;
         color:#ffffff ;

         &::placeholder{
            color:#ffffff ;

         }
      }
      .message {
         width: 100%;
         height: 76px;
         resize: none;
         font-size: 16px;
         font-weight: 500;
         border: 2px solid #c5c5c5;
         padding:6px 10px;
         background-color:#2046b3  ;
         color:#ffffff ;
         margin: 0px 0px 22px 0px;

         &::placeholder{
            color:#ffffff ;

         }
      }
      .button{
         font-size: 16px;
      font-weight: 600;
      padding:10px 35px;

      background-color: $colorq;
      color: #000;
      text-transform: uppercase;
      position: relative;
      top: 0;
      &:hover{
         position: relative;
         transition: .4s;

         top: -5px;
         box-shadow:0  5px 0  rgb(133, 108, 0);
      }
      &:active{
         top: 0;
         box-shadow: none;
      }
      }
      
      
   }

	&__middle {
      margin: 62px 0px 68px 20px;

	}
	&__head {
      margin: 0px 0px 36px 0px;
      color: #fff;
      font-size: 16px;
      font-weight: 600;
	}

	&__table {
      margin: 0px 0px 68px 0px;
      
      table{
         border-collapse: collapse;
         
      }
      td{
         padding: 0px 0px 20px 24px;
         vertical-align:center;
         font-size: 12px;
         color: rgba(255, 255, 255, 0.777);
         a{
         color: rgba(255, 255, 255, 0.777);
         }

         
      }
      th{
         text-align: left;
         padding: 0px 0px 20px 0px;
         font-size: 16px;
         color: #fff;
         


      }
      
	}
   &__line{
      width: 100%;
      height: 2px;
      background-color: #c5c5c5;
      margin: 0px 0px 8px 0px;
   }

	&__social {
      display: flex;
      margin: 0px 0px 0px 22px;
	}

	&__round {
      display: inline-block;
      width: 20px;
      height: 20px;
      position: relative;
      background-color: #fff;
      border-radius: 50%;
      margin: 0px 4px 0px 0px;
      
	}
}
.social__icon{
   fill: #2046b3;
   height:12px;
   width: 12px;
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate3d(-50%,-50%,0);

}

//! ///---CONTACT---\\\ !\\

/*! ///---CONTACT---\\\ !*/

.footer {
   font-family: myriad-pro, sans-serif;
   color: #fff;


         &__inner {
            display: flex;
            background-color: #000;
            margin: 0px 0px 38px 0px;

         }
   
         &__left {
            flex: 0 1 321px;
            margin: 0px 0px 0px 26px;
            padding:0px 10px 0px 0px;
            overflow: auto;
            max-height: 100%;

         }
         &__PE{
            display: none;
         }
         &__tap{
            opacity: 0;
            pointer-events: none;
         }
         &__logo{
            font-size: 60px;
            margin: 122px 0px 60px 0px;
            font-weight: 600;
            @extend %firstletter;
            &:first-letter{
               font-size: 60px;
            }
         }
   
         &__nav {
            display: inline-flex;
            flex-direction: column;
            &::after{
               content: "";
               width: 100%;
               height: 2px;
               background: $colorq;
               margin: 49px 0px 14px 0px;
            }
            
         }
   
         &__link {
            align-self: flex-start;
            color: #fff;
            font-size: 16px;
            font-weight: 500;
            text-transform: uppercase;
            margin: 0px 0px 24px 0px;
            transition: .3s;
            cursor: pointer;
            &:nth-child(9){
               margin: 0px 0px;
            }
            &:hover{
               color: $colorq;
            }
         }
   
         &__line {
            // width: 100%;
            height: 2px;
            background-color: $colorq;
            margin: 49px 0px 14px 0px;
         }
   
         &__social {
            display: flex;
            margin: 0px 0px 45px 2px;
         }
   
         &__round {
            display: inline-block;
            width: 20px;
            height: 20px;
            position: relative;
            background-color: rgb(255, 255, 255);
            border-radius: 50%;
            margin: 0px 5px 0px 0px;
         }
   
         &__right {
            flex: 1;
            background: url(../img/footer/Layer_47.png) no-repeat center  / cover, #000;
            display: flex;
            
            align-items: flex-end;

         }
   
         &__name {
            font-size: 80px;
            font-weight: 700;
            width: 90%;
            margin: 0px 0px 144px 25px;
            padding:0px 10px 0px 0px;
            span{
               color: $colorq;
            }
         }
   }

   .social {
   
         &__icon2 {
            fill: #000000;
            height:12px;
            width: 12px;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate3d(-50%,-50%,0);
         }
   }

//! ///---FOOTER---\\\ !\\

/*! ///---FOOTER---\\\ !*/

@media(max-width:990px){
   .social__icon,.social__icon2{
      height: 27px;
      width: 27px;
   }

   .logo{
      &__inner{
         position: relative;
      }
      ._active .logo__title{
         opacity: 0;
      }
      
      &__nav{
         // display: none;
         position: absolute;
         right: -100%;
         top:0;
         gap: 20px;
         padding: 0px 30px 0px 0px;
      @include adaptiv-value("padding-top",140,60 ,1 );

         background: rgba(0, 0, 0, 0.5);
         min-width: 100%;
         min-height: 100%;
         text-shadow: 0 0 10px #000,0 0 10px #000,0 0 10px #000,;
         flex-direction: column;
         justify-content: flex-start;
         // opacity: 0;
         transition: .3s;
         &::after{
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: 1;
            top: 0;
            left: 0;
            backdrop-filter: blur(10px);
         }
         
      }
      ._active .logo__nav{
         right: 0;
         opacity: 1;
      }
      &__link{
         align-self: flex-end;
         text-align: right;
         font-size: 30px;
         margin-right: -100%;
         opacity: 0;
         z-index: 2;
         cursor: pointer;
         transform: scale(0);
         &::after{
            content: '';
            opacity: 0;
            position: absolute;
            width: 50px;
            top:0 ;
            right: -140px;
            height: 100%;
            background: linear-gradient(270deg,$colorq,transparent);
            transition: .3s;
         }
         &:hover{
            padding: 0px 0px 0px 0px;
            border-bottom: none;
            // right: 15px;
            padding-right: 15px;
         }
         &:hover::after{
            right: -40px;
            opacity: 1;
         }
         &:hover:nth-child(1),&:hover:nth-child(2),&:hover:nth-child(3),&:hover:nth-child(4){
            transition: padding .3s .1s;
         }
         &:nth-child(1){
            transition:margin-right .4s .1s,transform .9s .1s;

         }
         &:nth-child(2){
            transition:margin-right .4s .2s,transform .9s .2s;


         }
         &:nth-child(3){
            transition:margin-right .4s .3s,transform .9s .3s;


         }
         &:nth-child(4){
            transition:margin-right .4s .4s,transform .9s .4s;


         }
         
      }
      ._active .logo__link{
         margin-right: 0;
         opacity: 1;
         transform: scale(1);
      }
      &__burger{
         display: flex;
         cursor: pointer;
         z-index: 2;
      }
      ._active .logo__burger{
         span{
            transform: scale(0);
         }
         &::before{
            transform: rotate(45deg);
            top: auto;
         }
         &::after{
            transform: rotate(-45deg);
            bottom: auto;
         }
      }
   }
//! ///-----------\\\ !\\

/*! ///-----------\\\ !*/
   .about{
      &__top{
         padding: 0px 0px;
      }
      &__logo{
         padding: 20px 0px 20px 0px;
         &::after{
            display: none;
         }
      }
      &__text{
         flex: 0 0 100%;
         
      }
      &__main{
         font-size: 18px;
      }
      &__description{
         font-size: 16px;
      }
      &__middle{
         margin: 0px 0px 40px 0px;
      }
      &__title{
         font-size: 20px;
      }
      &__texts{
         font-size: 16px;
         margin: auto;
      }
      &__nav{
         max-width: none;
         gap: 20px;
         justify-content: flex-start;
         padding: 10px 0px;
      }
      &__link{
         font-size: 14px;
      }
   }
//! ///-----------\\\ !\\

/*! ///-----------\\\ !*/
   .galery{
      &__photo{
         flex: 0 0 50%;
         &:nth-child(2n) img{
            transform: translateX(-120%);
            }
         &:nth-child(2n+1) img{
            transform: translateX(120%);
            }
      }
      ._go img{
         transform: translateX(0);
      }
      
   }

//! ///-----------\\\ !\\

/*! ///-----------\\\ !*/
   .blogs{
      &__burger{
         display: none;
      }
   }
//! ///-----------\\\ !\\

/*! ///-----------\\\ !*/
   .contact{
      &__round {
         width: 42px !important;
         height: 42px !important;
         position: relative;
         margin: 0px 10px 0px 0px;
      }
   }
//! ///----------\\\ !\\

/*! ///----------\\\ !*/
   .footer{
      &__inner{
         position: relative;
         margin: 0px 0px;
         
      }
      
      &__burger{
         display: inline-flex;
         top: 40px !important;
         position:absolute;
         right: 40px;
         transform:none !important;
         z-index: 3;
         cursor: pointer;
      }
      &__left{
         position: absolute;
         top: 0;
         left: -100%;
         margin: 0px 0px;
         // background-color: rgba(0, 0, 0, 0.608);
         min-width: 100%;
         min-height: 100%;
         z-index: 2;
         overflow: auto;
         padding: 0px 30px;
         transition: .4s;
         // opacity: 0;
         
         &::-webkit-scrollbar{
            display: none;
         }
      }
      &__PE{
         display: block;
         position: absolute;
         top: 0;
         background-color: rgba(0, 0, 0, 0.2);
         left:-100% ;
         width: 100%;
         z-index: 1;
         transition:left .4s;
         backdrop-filter: blur(15px);
      }
      ._active .footer__left{
         left: 0;
         // opacity: 1;
      }
      ._active .footer__PE{
         left: 0;
      }
      
      ._active .logo__burger{
         span{
         transform: scale(0);
         }
         &::before{
            transform: rotate(45deg);
            top: auto;
         }
         &::after{
            transform: rotate(-45deg);
            bottom: auto;
         }
      }
      &__link{
         font-size: 22px;
         cursor: pointer;

      }
      &__logo{
         margin: 24px 0px 40px 0px;
      }
      &__social{
         margin: 0px 0px 10px 0px;
      }
      &__tap{
         position: absolute;
         
         left: 0;
         bottom: 0px;
         backdrop-filter: blur(40px);
         width: 100%;
         background-color: rgba(0, 0, 0, 0.2);
         text-align: center;
         display: flex;
         flex-direction: column;
         justify-content: center;
         padding: 10px 0px 0px 0px;
         // transition: 0.4s;
        
         &--text{
            font-size: 12px;
            letter-spacing: 7px;
            text-transform: uppercase;
            font-weight: 700;
            color: $colorq;
            text-align: center;
            position: relative;
            top: -4px;
            animation: text 1s linear 1s infinite alternate;
            
         }
      }
      ._on{
         opacity: 1;
         pointer-events: all;
      }
      @keyframes text {
         from{top: -4px;}
         to{top: -2px;}
         
      }
      &__photo{
         display: flex;
         flex-direction: column;
         align-items: center;
         position: relative;
         padding: 0px 0px 33px 0px;
         &--1{
            width: 20px;
            fill: $colorq !important;
            height: 20px;
            transform: rotate(135deg);
            position: absolute;
            animation: svg 1s linear 1s infinite alternate;
         }
         &--2{
            position: absolute;
            top: 7px;
            fill: $colorq !important;
            fill-opacity:0.3 ;
            width: 15px;
            height: 15px;
            transform: rotate(135deg);
            animation: svg2 1s linear 1s infinite alternate;
            
         }
      }
      @keyframes svg {
         from{top: -7px;}
         to{top: -2px;}
         
      }
      @keyframes svg2 {
         from{top: 7;}
         to{top: 14px;}
         
      }
      &__right{
         min-height: 101vh;
         min-width: 100%;
         // background-position: 70%;
      }
      &__name{
         font-size: 50px  !important;
         transition: .4s;
      }
      ._active .footer__name{
         opacity: 0;
      }
      &__round {
         display: inline-block;
         width: 42px;
         height: 42px;
         position: relative;
         background-color: rgb(255, 255, 255);
         border-radius: 50%;
         margin: 0px 10px 0px 0px;
      }
   }
}
//! ///---990---\\\ !\\

/*! ///---990---\\\ !*/
@media (max-width:768px){
   .about{
      &__body{
         justify-content: center;
      }
      &__block{
         flex: 0 1 350px;
      }
   }
//! ///----------\\\ !\\

/*! ///----------\\\ !*/
   .process{
      &__body{
         padding-top: 20px;
      }
      &__subtitle{
         font-size: 20px;
      }
      &__text{
         font-size: 18px;
      }
      
      &__main{
         margin: 30px 0px 10px 0px;
      }
      &__element{
         width: 100%;
         opacity: 0;
         &:nth-child(1){
            order:1;
            transform: translate3d(-50%,0,0);
         }
         &:nth-child(2){
            order:2;
            transform: translate3d(50%,0,0);
         }
         &:nth-child(3){
            order:4;
            transform: translate3d(50%,0,0);
         }
         &:nth-child(4){
            order:3;
            transform: translate3d(-50%,0,0);
         }
         &:nth-child(5){
            order:5;
            transform: translate3d(-50%,0,0);
         }
         &:nth-child(6){
            order:6;
            transform: translate3d(50%,0,0);
         }
         &--text{
            padding: 0px;
         }
         
         }
         ._go{
            transform: translate3d(0,0,0);
         }
      &__name{
         padding: 20px 0px;
      }
      &__middle{
         padding: 0px 0px 15px 0px;
         font-size: 20px;
      }
      &__foot{
         padding: 0px 0px 20px 0px;
         font-size: 18px;
         }
      }
//! ///----------\\\ !\\

/*! ///----------\\\ !*/
      .services{
         &__inner{
         min-height: 100vh;

         }
         &__top{
            padding: 50px 0px;
         }
         &__body{
            padding: 0px 0px 50px 0px;
         }
         &__container{
            margin: auto;
            max-width: 400px;
         }
         &__block{
            flex: 0 0 100%;
            padding: 0px 0px 0px 0px;
            margin: 0px 0px 50px 0px;
            &:nth-child(2n+1){
               padding:0px 0px 0px 0px;
            }
            &:last-child{
               margin: 0px 0px;
            }
         }
         &__title{
            margin: 0px 0px 7px 0px;
            font-size: 20px;
         }
         &__text{
            font-size: 16px;
         }
      }
//! ///-----------\\\ !\\

/*! ///-----------\\\ !*/
      .team{
         &__inner{
            margin: 0px 0px 20px 0px;
            flex-wrap: wrap;
         }
         &__logo,&__body{
            margin: 20px 0px 0px 0px;
         }
         &__top{
            padding: 0px 50px 30px 0px;
         }
         &__title{
            font-size: 20px;
         }
         &__text{
            font-size: 18px;
         }
         &__block{
            width: 50%;
            padding: 0px 0px 20px 0px;
         }
      }
//! ///-----------\\\ !\\

/*! ///-----------\\\ !*/
   .testimonials{
      &__logo{
         margin: 30px 0px 0px 0px;
      }
      &__body{
         justify-content: center;
         margin: 40px 0px 30px 0px;
         flex-wrap: wrap;
      }
      &__left{
         order: 1;
         max-width: 450px;
      }
      &__title{
         font-size: 20px;
      }
      &__text{
         font-size: 16px;
      }
      &__right{
         margin: 0px 0px 30px 0px;
      }
   }
//! ///-----------\\\ !\\

/*! ///-----------\\\ !*/
   .blogs{
      &__inner{
         padding: 20px 10px 10px 10px;
         flex-direction: column;
         position: relative;
      }
      &__nav{
         flex: 1;
         margin: 0px 0px 20px 0px;
      }
      &__logo{
         margin: 0px 0px 20px 0px;
      }
      &__links{
         // display: none;
         position: absolute;
         overflow: auto;
         top: 0;
         z-index: 2;
         text-align: right;
         right: -100%;
         display: flex;
         padding: 90px 20px 30px 0px;
         height: 100%;
         width: 100%;
         transition: .4s;
         &::-webkit-scrollbar{
            display: none;
         }
         &::before{
            content: "";
            position: absolute;
            z-index: -1;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(127, 127, 127, 0.249);
            

            backdrop-filter: blur(9px);
         }
      }
      ._active .blogs__links{
         right: 0;
      }
      &__link{
         font-size: 25px !important;
         margin: 0px 0px 30px 0px;
         font-weight: 700;
         padding: 3px;
         border-radius: 5px;
         background: linear-gradient(90deg,$colorq,transparent);
         align-self: flex-end;
         &:hover{
            color: #fff;
         }

      }
      &__burger{
         position: absolute;
         top: 37px;
         right:20px;
         display: inline-flex;
         z-index: 3;
         cursor: pointer;
      }
      ._active .logo__burger{
         span{
            transform: scale(0);
         }
         &::before{
            transform: rotate(45deg);
            top: auto;
      
         }
         &::after{
            transform: rotate(-45deg);
            bottom: auto;
         }
      }
      &__body{
         flex-wrap: wrap;
         overflow: auto;
         max-height: 100%;
         padding: 20px 0px 50px 0px;
      }
      &__block{
         width: 33.33%;
         padding-bottom: 20px;
      }
      ._active .blogs__block{
         animation: blogs 2s linear infinite running;
         overflow: hidden;
      }
      @keyframes blogs {
         0% {transform: none;}
         33% {transform: perspective(400px) rotatex(10deg) scale(0.9); }
         66% {transform: perspective(400px) rotatex(-10deg) scale(0.9); }
         100% {transform:none; }

      }
      &__name{
         font-size: 20px;
      }
      &__title{
         font-size: 18px;
      }
      &__subtitle{
         font-size: 16px;
      }
   }

//! ///------------\\\ !\\

/*! ///------------\\\ !*/

   .contact{
      .container{
         padding: 0px 0px;
      }
      &__inner{
         justify-content: center;
      }
      &__body{
         padding: 20px 10px;
      }
      &__form{
         min-width: auto;
         margin: 0px auto;
      }
      &__head{
         font-size: 20px;
      }
      th{
         font-size: 20px;
      }
      td{
         font-size: 16px;
      }
      &__map{
         display: none;
      }
   }
}
@media(max-width:540px){
   .blogs{
      &__block{
         width: 50%;
      }
   }
   .about{
      &__bottom{
         padding-top: 30px;
      }
      &__nav{
         gap: 0;
         justify-content: space-between;
         padding: 0px 5px;
      }
      &__link{
         font-size: 11px;
         position: relative;
         z-index: 1;
      }
   }
   .footer{
      &__right{
         background-position:65% 30% ;
      }

   }
}
